In [1]:
import pandas as pd

In [42]:
#xlsx
data = pd.read_excel('Alumni Scraping.xlsx', sheet_name='te')

In [52]:
data.head()

,Name,Companies,Roles,Locations,Column5,Column6
0,Younes Janah,"Capgemini · Full-time,, CIH BANK · Internship,...","Software Engineer,, Ingénieur développement pr...","Casablanca, Casablanca-Settat, Maroc,, Casabla...",NaN,NaN
1,Soufiane EN-NACIRI,"L'Oréal · Full-time,, BMCI Groupe BNP Paribas,...","Data Analyst,, Financial Data Analyst Intern,,...","Casablanca Metropolitan Area,, Casablanca, Cas...",NaN,NaN
2,Rim B.,"Masarat App · Internship,, Institut de Mathéma...","Functional Consultant intern,, Data analyst in...","Maroc,,",NaN,NaN
3,Nisrine Rifa,"OCP SOLUTIONS,, OCP SOLUTIONS,, Boston Consult...","Consultant,, Junior Consultant,, Visiting Juni...","Casablanca Metropolitan Area,, Casablanca Metr...",NaN,NaN
4,Bah Lamine Ouattara,BNETD-Bureau National d'Études Techniques et d...,"Stagiaire : Assistant ingénieur,, Projet Scien...","Cocody, Abidjan, Côte d’Ivoire,, ,, ,, ,, Casa...",NaN,NaN

In [53]:
# copy data
df = data.copy()

In [54]:

# drop last two columns

df.drop(['Column5', 'Column6'], axis=1, inplace=True)

In [55]:
# convert comanies column dattype to list

df['Companies'] = df['Companies'].apply(lambda x: x.split(',,'))
df['Roles'] = df['Roles'].apply(lambda x: x.split(',,'))

In [56]:
df

,Name,Companies,Roles,Locations
0,Younes Janah,"[Capgemini · Full-time, CIH BANK · Internship...","[Software Engineer, Ingénieur développement p...","Casablanca, Casablanca-Settat, Maroc,, Casabla..."
1,Soufiane EN-NACIRI,"[L'Oréal · Full-time, BMCI Groupe BNP Paribas...","[Data Analyst, Financial Data Analyst Intern,...","Casablanca Metropolitan Area,, Casablanca, Cas..."
2,Rim B.,"[Masarat App · Internship, Institut de Mathém...","[Functional Consultant intern, Data analyst i...","Maroc,,"
3,Nisrine Rifa,"[OCP SOLUTIONS, OCP SOLUTIONS, Boston Consul...","[Consultant, Junior Consultant, Visiting Jun...","Casablanca Metropolitan Area,, Casablanca Metr..."
4,Bah Lamine Ouattara,[BNETD-Bureau National d'Études Techniques et ...,"[Stagiaire : Assistant ingénieur, Projet Scie...","Cocody, Abidjan, Côte d’Ivoire,, ,, ,, ,, Casa..."
...,...,...,...,...
714,Zakaria Midine,[GRUPO MASA · Internship],[Stagiaire],"Tanger-Tétouan-Al Hoceïma, Maroc"
715,EL FOURATI Ilyass,"[Faurecia R&D Center · Internship, NGE - BTP ...","[Data Leader, Data Scientist | Computer visio...","Méru, Hauts-de-France, France · On-site,, Nice..."
716,Amine Berh,"[OFPPT, Hôtel Sphinx, Venezia Ice, Hotel ib...","[Polyvalent, Demi chef de partie, Chef poste...",",, Mohammedia, Casablanca-Settat, Maroc,, Bouz..."
717,Yousef Oualji,"[Office National des Chemins de Fer (ONCF), A...","[Maintenance signalisation ferroviaire, Techn...",",, ,, ,, Casablanca, Grand Casablanca, Morocco..."
718,Mohammed Bediche,"[CS GROUP · Internship, University of Lille 1...",[Developing a quantum program for Lattice Bolt...,",, Lille, Hauts-de-France, France,, Casablanca..."

In [58]:
# convert float objects in the locations column to text

df['Locations'] = df['Locations'].astype(str)

In [59]:

df['Locations'] = df['Locations'].apply(lambda x: x.split(',,'))

In [60]:
df.dtypes

Name         object
Companies    object
Roles        object
Locations    object
dtype: object

In [62]:
df

,Name,Companies,Roles,Locations
0,Younes Janah,"[Capgemini · Full-time, CIH BANK · Internship...","[Software Engineer, Ingénieur développement p...","[Casablanca, Casablanca-Settat, Maroc, Casabl..."
1,Soufiane EN-NACIRI,"[L'Oréal · Full-time, BMCI Groupe BNP Paribas...","[Data Analyst, Financial Data Analyst Intern,...","[Casablanca Metropolitan Area, Casablanca, Ca..."
2,Rim B.,"[Masarat App · Internship, Institut de Mathém...","[Functional Consultant intern, Data analyst i...","[Maroc, ]"
3,Nisrine Rifa,"[OCP SOLUTIONS, OCP SOLUTIONS, Boston Consul...","[Consultant, Junior Consultant, Visiting Jun...","[Casablanca Metropolitan Area, Casablanca Met..."
4,Bah Lamine Ouattara,[BNETD-Bureau National d'Études Techniques et ...,"[Stagiaire : Assistant ingénieur, Projet Scie...","[Cocody, Abidjan, Côte d’Ivoire, , , , Cas..."
...,...,...,...,...
714,Zakaria Midine,[GRUPO MASA · Internship],[Stagiaire],"[Tanger-Tétouan-Al Hoceïma, Maroc]"
715,EL FOURATI Ilyass,"[Faurecia R&D Center · Internship, NGE - BTP ...","[Data Leader, Data Scientist | Computer visio...","[Méru, Hauts-de-France, France · On-site, Nic..."
716,Amine Berh,"[OFPPT, Hôtel Sphinx, Venezia Ice, Hotel ib...","[Polyvalent, Demi chef de partie, Chef poste...","[, Mohammedia, Casablanca-Settat, Maroc, Bou..."
717,Yousef Oualji,"[Office National des Chemins de Fer (ONCF), A...","[Maintenance signalisation ferroviaire, Techn...","[, , , Casablanca, Grand Casablanca, Morocc..."
718,Mohammed Bediche,"[CS GROUP · Internship, University of Lille 1...",[Developing a quantum program for Lattice Bolt...,"[, Lille, Hauts-de-France, France, Casablanc..."

In [63]:
df['Locations'][2]

['Maroc', ' ']

In [64]:
# leave only the last element not equal to ' ' in the 3 columns

df['Locations'] = df['Locations'].apply(lambda x: x[-1] if x[-1] != ' ' else x[-2])
df['Roles'] = df['Roles'].apply(lambda x: x[-1] if x[-1] != ' ' else x[-2])
df['Companies'] = df['Companies'].apply(lambda x: x[-1] if x[-1] != ' ' else x[-2])

In [65]:
df

,Name,Companies,Roles,Locations
0,Younes Janah,Ecole Centrale Casablanca,Chef de projet enjeu,"Casablanca, Casablanca - Settat, Maroc"
1,Soufiane EN-NACIRI,CRIStAL (Signal and Information Processing La...,Assistant Engineer Intern,"Lille, France"
2,Rim B.,Institut de Mathématiques de Marseille · Inte...,Data analyst intern,Maroc
3,Nisrine Rifa,Banque Populaire du Maroc (Groupe) Inc · Inte...,Stage opérateur,"Nador Province, Morocco"
4,Bah Lamine Ouattara,Ouattara et frère · Contract,Réceptionnaire,"Bouaké, Vallée du Bandama, Côte d’Ivoire"
...,...,...,...,...
714,Zakaria Midine,GRUPO MASA · Internship,Stagiaire,"Tanger-Tétouan-Al Hoceïma, Maroc"
715,EL FOURATI Ilyass,Bureau D'Etudes Techniques AL IMAD · Internship,Stagiaire,"Ben Guerir, Marrakesh-Safi, Maroc"
716,Amine Berh,Big bambo,Aide-cuisinier,"Mohammedia, Casablanca-Settat, Maroc"
717,Yousef Oualji,Mekko Technologies,technicien de montage et câblage des armoires...,"Casablanca, Grand Casablanca, Morocco"
718,Mohammed Bediche,Amal Biladi · Internship,Humanitarian Worker,"Casablanca, Casablanca-Settat, Morocco"

In [66]:
# save as excel

df.to_excel('One Company.xlsx', sheet_name='te', index=False)